/* Dashboard Navbar */
.navbar-brand {
  font-size: 2vw;
  margin-left: 1.5vw;
}

.row {
  margin-top: 4.5vw;
}

.col-sm-3 {
  /*background-color: lightseagreen;*/
  width: 100%;
}

.list-group {
  height: 80vh;
  margin-left: 2vw;
  margin-right: 1vw;
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: white;
  overflow-y: scroll;
}

.collapse {
  padding: 0.5vw;
  color: white;
  animation-name: collapseAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

.card {
  /*background-color: lightcyan;*/
  margin-top: 1.3vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border: 1px solid transparent;
}

.card-body {
  margin: 0.5vw;
  height: 8vw;
  /*background-color: lightsteelblue;*/
  border: 1px solid darkgray;
  border-radius: 0.5vw;
}


.card-text, .card-sub-text {
  text-align: center;
  font-size: 1.1vw;
  font-family: Courier New, sans-serif;
  color: #979797;
  white-space: pre-line;

}

.card-sub-text {
  font-size: 0.9vw;
}

.diagramCanvas {
  height: 24vw;
  margin-top: 1vw;
  background-color: lavenderblush;
  border: 1px solid whitesmoke;
  border-radius: 0.5vw;
  font-family: Courier New, sans-serif;
  font-size: 1.1vw;
  color: #979797;
  text-align: center;
  padding-top: 1vw;
}

#diagramm1, #diagramm2, #diagramm3 {
  background-color: lavender;
  width: 100%;
}

.footer{
  background-color: whitesmoke;
  padding-top: 0.8vw;
  padding-bottom: 0.1vw;
  font-size: 0.7vw;
  color: lightgray;
}

.footerText {
  text-align: center;
}


#right {
  /*margin-right: 2vw;*/
}

#left {
  border-right: 1px solid darkgray;
}

@keyframes collapseAnim {
  from {
        padding-left: 0vw;
        color: white;
  }
  to {
    padding-left: 3vw;
    color: lightskyblue;
  }
}

@media screen and (max-width: 1024px){
  .componentBody {
    width: 100%;
  }

}

@media screen and (max-width: 720px){

  .card-body {
    height: auto;
  }
  .card-text {
    font-size: 3vw;
  }
  .diagrammText {
    font-size: 3vw;
  }
  .list-group {
    font-size: 3vw;
  }
  .card-sub-text {
    font-size: 2.5vw;
  }

  .footer {
    font-size: 2vw;
  }
  .componentBody{
    margin-top: 10vw;
  }
}
