<!-- The .container class provides a responsive fixed width container -->

<div class="componentBody">

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </nav>

  <!-- Progressbar animated -->
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>

  <div class="row">

          <div class="col-sm-3" id="left">
            <div class="list-group" >
              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text1">1</a>
                <div id="text1" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text2">2</a>
              <div id="text2" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text3">3</a>
              <div id="text3" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text4">4</a>
              <div id="text4" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text5">5</a>
              <div id="text5" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text6">6</a>
              <div id="text6" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text7">7</a>
              <div id="text7" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text8">8</a>
              <div id="text8" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text9">9</a>
              <div id="text9" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text10">10</a>
              <div id="text10" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text11">11</a>
              <div id="text11" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text12">12</a>
              <div id="text12" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text13">13</a>
              <div id="text13" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text4">14</a>
              <div id="text14" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text15">15</a>
              <div id="text15" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text16">16</a>
              <div id="text16" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text17">17</a>
              <div id="text17" class="collapse"> text </div>

              <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#text18">18</a>
              <div id="text18" class="collapse"> text </div>

            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">

              <div class="card-body shadow-sm p-4 mb-4 bg-white">
                <p class="card-text"> card body 1</p>
              </div>

              <div class="card-body shadow-sm p-4 mb-4 bg-white">
                <p class="card-text"> card body 2</p>
              </div>

              <!-- digramm 1 -->
              <div class="diagramCanvas">
                <p class="diagrammText">diagramm 1</p>
                <canvas id="diagramm1">

                </canvas>
              </div>

            </div>
          </div>


          <div class="col-sm-3">

            <div class="card">

              <div class="card-body shadow-sm p-4 mb-4 bg-white">
                <p class="card-text"> card body 3</p>
              </div>
              <div class="card-body shadow-sm p-4 mb-4 bg-white">
                <p class="card-text"> card body 4</p>
              </div>

              <!-- digramm 2 -->
              <div class="diagramCanvas">
                <p class="diagrammText">diagramm 2</p>
                <canvas id="diagramm2">

                </canvas>
              </div>

            </div>
          </div>

          <div class="col-sm-3" >

            <div class="card" id="right">

              <div class="card-body shadow-sm p-4 mb-4 bg-white">
                <p class="card-text"> card body 5</p>
              </div>

              <div class="card-body shadow-sm p-4 mb-4 bg-white">
                <p class="card-text"> card body 6</p>
              </div>

              <!-- digramm 3 -->
              <div class="diagramCanvas">
                <p class="diagrammText">diagramm 3</p>
                <canvas id="diagramm3">

                </canvas>
              </div>

            </div>
          </div>

    </div>

</div>

<footer class="footer">
  <div class="footerText">
    <p> {{ creator }} <br> {{ version }} </p>

  </div>
</footer>




