<!--The content below is only a placeholder and can be replaced.-->
<div id="page">
    <div id="header" class="col-1-12">
      <h1 style="font-size: 3vw">{{ title }} </h1>
      <h2 style="font-size: 2vw" >Details</h2>
    </div>

    <div id="menu">

      <div class="col-1-3">
        <p id="menuTitle">Menu</p>
      </div>

      <div class="col-1-3">
        <p id="menuItem1">Menu 1</p>
        <p id="menuItem2">Menu 2</p>
        <p id="menuItem3">Menu 3</p>
        <p id="menuItem4">Menu 4</p>
        <p id="menuItem5">Menu 5</p>
        <p id="menuItem6">Menu 6</p>
        <p id="menuItem7">Menu 7</p>
        <p id="menuItem8">Menu 8</p>
        <p id="menuItem9">Menu 9</p>
        <p id="menuItem10">Menu 10</p>
        <p id="menuItem11">Menu 11</p>
        <p id="menuItem12">Menu 12</p>
        <p id="menuItem13">Menu 13</p>
        <p id="menuItem14">Menu 14</p>
        <p id="menuItem15">Menu 15</p>
        <p id="menuItem16">Menu 16</p>
        <p id="menuItem17">Menu 17</p>
        <p id="menuItem18">Menu 18</p>
      </div>

    </div>

</div>
