/* AppComponent's private CSS styles */
h1 {
  font-family: Verdana;
}
h2 {
  font-family: Verdana;

}

p {
  font-family: Verdana;

}

[class*='col-'] {

}
[class*='col-']:last-of-type {

}

.col-1-3 {
  background-color: blueviolet;
  font-size: 1vw;
}

#menu {
  background-color: red;
  width: 20%;
  float: left;
}

#header {
  background-color: lightseagreen;
}

#page {
  background-color: lightgrey;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px){
  /* The width is 100%, when the viewport is 800px or smaller */
  .left, .mein, .right {
    width: 100%;
  }
}
