<!-- The .container class provides a responsive fixed width container -->
<div class="container-fluid">
  <h1> {{ title }}</h1>
</div>

<!-- Progressbar animated -->
<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>

<div class="row">

  <div class="col-sm-3">
    <div class="list-group" >
      <a href="#" class="list-group-item list-group-item-action">1</a>
      <a href="#" class="list-group-item list-group-item-action">2</a>
      <a href="#" class="list-group-item list-group-item-action">3</a>
      <a href="#" class="list-group-item list-group-item-action">4</a>
      <a href="#" class="list-group-item list-group-item-action">5</a>
      <a href="#" class="list-group-item list-group-item-action">6</a>
      <a href="#" class="list-group-item list-group-item-action">7</a>
      <a href="#" class="list-group-item list-group-item-action">8</a>
      <a href="#" class="list-group-item list-group-item-action">9</a>
      <a href="#" class="list-group-item list-group-item-action">10</a>
      <a href="#" class="list-group-item list-group-item-action">11</a>
      <a href="#" class="list-group-item list-group-item-action">12</a>
      <a href="#" class="list-group-item list-group-item-action">13</a>
      <a href="#" class="list-group-item list-group-item-action">14</a>
      <a href="#" class="list-group-item list-group-item-action">15</a>
      <a href="#" class="list-group-item list-group-item-action">16</a>
      <a href="#" class="list-group-item list-group-item-action">17</a>
      <a href="#" class="list-group-item list-group-item-action">18</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body"> data </div>
      <div class="card-body"> data </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body"> data </div>
      <div class="card-body"> data </div>
    </div>
  </div>

  <div class="col-sm-3" >
    <div class="card" id="right">
      <div class="card-body"> data </div>
      <div class="card-body"> data </div>
    </div>
  </div>

</div>



